Import the csv file for reading

In [1]:
# Import necessary libraries
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [2]:
#Create a data frame satscoresdf ("SAT__College_Board__2010_School_Level_Results_20240506.csv")
satscoresdf= pd.read_csv("SAT__College_Board__2010_School_Level_Results_20240506.csv")

In [3]:
#check the if the file id read correctly into the df
satscoresdf.head(10)

,DBN,School Name,Number of Test Takers,Critical Reading Mean,Mathematics Mean,Writing Mean
0,01M292,Henry Street School for International Studies,31.0,391.0,425.0,385.0
1,01M448,University Neighborhood High School,60.0,394.0,419.0,387.0
2,01M450,East Side Community High School,69.0,418.0,431.0,402.0
3,01M458,SATELLITE ACADEMY FORSYTH ST,26.0,385.0,370.0,378.0
4,01M509,CMSP HIGH SCHOOL,NaN,NaN,NaN,NaN
5,01M515,Lower East Side Preparatory High School,154.0,314.0,532.0,314.0
6,01M539,"New Explorations into Sci, Tech and Math HS",47.0,568.0,583.0,568.0
7,01M650,CASCADES HIGH SCHOOL,35.0,411.0,401.0,401.0
8,01M696,BARD HIGH SCHOOL EARLY COLLEGE,138.0,630.0,608.0,630.0
9,02M047,AMERICAN SIGN LANG ENG DUAL,11.0,405.0,415.0,385.0

Let us understand the data at our disposal by performing some Exploratory Data Analysis

In [4]:
satscoresdf.shape

(460, 6)

In [7]:
satscoresdf.columns

Index(['DBN', 'School Name', 'Number of Test Takers', 'Critical Reading Mean',
       'Mathematics Mean', 'Writing Mean'],
      dtype='object')

In [9]:
satscoresdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 460 entries, 0 to 459
Data columns (total 6 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   DBN                    460 non-null    object
 1   School Name            460 non-null    object
 2   Number of Test Takers  386 non-null    float64
 3   Critical Reading Mean  386 non-null    float64
 4   Mathematics Mean       386 non-null    float64
 5   Writing Mean           386 non-null    float64
dtypes: float64(4), object(2)
memory usage: 21.7+ KB